Timer {
  height: 5;
  padding: 1 2;
  background: $panel;
  margin: 1;
}

Timer:focus {
  background: $panel-lighten-1;
}

Timer #info {
  width: 2fr;
}

Timer TimeDisplay {
  width: 1fr;
  content-align: right middle;
  height: 100%;
}

#actions {
  height: 100%;
}

#start {
  background: $success;
  width: 10;
  dock: right;
}

#stop {
  background: $error;
  width: 10;
  display: none;
  dock: right;
}

.running #start {
  display: none;
}

.running #stop {
  display: block;
}

#project {
  text-style: bold;
}

#task {
  text-style: italic;
}

#description {
  opacity: 40%;
}
