Timer {
  height: 7;
  border: round grey;
  padding: 1;
}

Timer Static {
  width: 1fr;
}

TimeDisplay {
  content-align: right middle;
  height: 4;
}

#actions {
  content-align: right middle;
}

#start {
  background: $success;
  width: 10;
  dock: right;
}

#stop {
  background: $error;
  width: 10;
  display: none;
  dock: right;
}

.running #start {
  display: none;
}

.running #stop {
  display: block;
}

#project {
  text-style: bold;
}

#task {
  text-style: italic;
}

#description {
  opacity: 40%;
}
