Timer {
  height: 5;
  padding: 1 2;
  background: $panel;
  margin: 1;
  layout: horizontal;
}

Timer:focus {
  background: $panel-lighten-1;
}

Timer #project {
  text-style: bold;
}

Timer #task {
  text-style: italic;
}

Timer #description {
  opacity: 40%;
}

Timer #info {
  width: 1.5fr;
  height: 5;
  layout: vertical;
}

Timer TimeDisplay {
  width: 1fr;
  content-align: right middle;
  height: 100%;
  padding-right: 2;
}

Timer #actions {
  layout: horizontal;
  width: 22;
  height: 100%;
  content-align: right middle;
}

Timer #start,
Timer #stop {
  min-width: 10;
  padding: 0;
}

Timer #stop {
  display: none;
}

Timer.running #start {
  display: none;
}

Timer.running #stop {
  display: block;
}

Timer #actions #edit {
  min-width: 10;
  margin-left: 1;
  width: 4;
  background: black;
  content-align: center middle;
  background: $primary-background-darken-2;
}
