[tool.poetry]
name = "scythe-cli"
version = "0.5.0"
description = "A Harvest is always better with a good tool"
authors = ["Sean Collings <seanrcollings@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/seanrcollings/scythe"
packages = [
    {include = "scythe", from = "src"}
]

[tool.poetry.dependencies]
python = "^3.9"
requests = "^2.25.1"
arc-cli = "^2.0.1"
PyYAML = "^5.4.1"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
mypy = "^0.800"

[tool.poetry.scripts]
scythe = "scythe.cli:cli"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
