Container {
  layout: horizontal;
}

#header {
  padding-top: 1;
  height: 5;
}

#header #new {
  dock: right;
  background: $secondary;
}

#timers {
  background: $background-lighten-1;
  margin: 4;
  padding: 1;
}

Timer {
  height: 7;
  border: round grey;
  padding: 1;
}

Timer Static {
  width: 1fr;
}

#title {
  content-align: left middle;
  text-opacity: 60%;
  height: 3;
}

TimeDisplay {
  content-align: right middle;
  height: 4;
}

#actions {
  content-align: right middle;
}

#start {
  background: $success;
  width: 10;
  dock: right;
}

#stop {
  background: $error;
  width: 10;
  display: none;
  dock: right;
}

.running #start {
  display: none;
}

.running #stop {
  display: block;
}
